.svg {
  background: linear-gradient(135deg, hsl(0, 74%, 74%), hsl(0, 80%, 86%));
  height: 100%;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
  padding: 0;
}
.svg:hover {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
}
.svg:hover svg {
  transform: translateX(5px);
}
.svg svg {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}
@media (max-width: 500px) {
  .svg {
    width: 5rem;
  }
  .svg svg {
    width: 25px;
  }
}
