.description p{
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -0.03rem;
    color: var(--Pink400);
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    padding: 1rem 1rem 4rem 1rem;
    width: 575px;
}
@media (max-width: 1440px) {
    .description{
        padding: 1rem 1rem 3rem 1rem;
        width: 90%;
    }
}
@media (max-width: 1200px) {
    .description{
        width: 90%;
        text-align: center;
        padding: 1rem 1rem 2rem 1rem;
    }
}
@media (max-width: 700px){
    .description{
        padding: 1rem;
    }
}