.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.form{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 3rem 3rem 10rem 3rem;
}
.description p{
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -0.03rem;
    color: var(--Pink400);
}
.img{
    background-image: url('../../public/hero-desktop.jpg');
    background-size: auto 100% ;
    background-repeat: no-repeat;
    background-position: center;
    width: 62vw;
    height: 100vh;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    padding: 1rem 1rem 4rem 1rem;
    width: 575px;
}
h1{
    font-size: 5.4rem;
    text-transform: uppercase;
    letter-spacing: 18px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
}
h1 span{
    font-weight: 300;
    color: var(--Pink400);
}
.logo{
    align-self: flex-start;
    padding: 2rem 1rem 1rem 1rem;
}
.logo svg{
    width: 13rem;
}
.input{
    border: 2px solid hsla(0, 93%, 68%, 0.4);;
    border-radius: 2.4rem;
    width: 87%;
    padding: 1.4rem 1.4rem 1.4rem 2.5rem;
    font-size: 1.4rem;
    color: var(--Pink400);
}
.inputWrapper{
    width: 100%;
    position: relative;
}
.mobileImg{
    display: none;
}
.svg{
    background: var(--Pink400);
    height: 4.55rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.4rem;
    position: absolute;
    right: -.50rem;
    top: 0.04rem;
}
.svg svg{
    width: 25px;
    height: 25px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1440px) {
    .description{
        padding: 1rem 1rem 3rem 1rem;
        width: 90%;
    }
    .form {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .description{
        width: 85%;
        text-align: center;
    }
    .logo{
        align-self: flex-start;
        padding: 1.4rem 1rem 2rem 2rem;
    }
    .img{
        display: none;
    }
    .container{
        height: initial;
        align-items: center;
        flex-direction: column-reverse;
        width: 100vw;
    }
    .description{
        padding: 1rem 1rem 2rem 1rem;
    }
    .mobileImg{
        background-image: url('../../public/hero-mobile.jpg');
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        width: 100vw;
        height: 600px;
        display: block;
    }
    .form{
        padding: 1rem 1rem 2rem 1rem;
        width: 100vw;
        align-items: center;
        justify-content: center;
        position: relative;
    }

}
@media (max-width: 700px){
    .form{
        padding: 1rem 1rem 1rem 1rem;
    }

    .mobileImg{
        height: 460px;
    }
    h1{
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 12px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 0;
    }
    .description{
        padding: 1rem;
    }
    h1 span{
        font-weight: 300;
        color: var(--Pink400);
    }
}
@media (max-width: 500px){
    .logo svg{
        width: 10rem;
    }
    .mobileImg{
        height: 300px;
    }
    .input{
        width: 75%;
        padding: 1rem 1rem 1rem 2rem;
    }
    .svg{
        height: 3.86rem;
        width: 5rem;
        display: flex;
        border-radius: 2.4rem;
        position: absolute;
        right: .8rem;
        top: 0.04rem;
    }
    .svg svg{
        width: 25px;
        height: 25px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}