.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    margin: .3rem;
    color: var(--Pink400);
    font-size: 1rem;
    transition: scale 0.3s ease;
}
.footer a:visited{
    color: var(--Red500);
}
.footer a:link{
    color: var(--Red500);
}
footer a:hover{
    scale: 1.1;
}
@media (max-width: 500px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}