.inputWrapper{
    width: 100%;
}
.inputWrapper p{
    padding: .3rem .5rem .5rem 2.5rem;
    font-size: 1rem;
    color: var(--Red500);
    position: absolute;
}
.input{
    position: relative;
}
.input input{
    border: 3px solid hsla(0, 93%, 68%, 0.4);
    border-radius: 2.4rem;
    width: 100%;
    padding: 1.4rem 1.4rem 1.4rem 2.5rem;
    font-size: 1.4rem;
    color: var(--Pink400);
}
.value{
    color: black;
 }
@media (max-width: 500px) {
    .input input{
        padding: 1rem 1rem 1rem 2;
    }
}